@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@model IEnumerable<Trongtai>
<div id="result"></div>
<!--features_items-->
<h2 class="title text-center">Features Items</h2>
@foreach(var item in Model)
{
	<div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img src="@Url.Content("../images/" + @item.Anh)" alt="" />
					<h2>@item.HoVaTen</h2>
					<p>@item.QueHuong</p>
					<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sửa thông tin</a>
				</div>
				<div class="product-overlay">
					<div class="overlay-content">
						<h2>@item.HoVaTen</h2>
						<p>@item.QueHuong</p>
						<a asp-controller="Home" asp-action="CapNhatTrongTai" asp-route-idTrongTai="@item.TrongTaiId" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sửa thông tin</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
}
