@model IEnumerable<template1.Models.Cauthu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div id="result">
</div>

<p>
    <a class="btn btn-primary" asp-action="ThemCauThu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuocTich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoAo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauLacBo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuocTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoAo)
            </td>
            <td>
                <img src="@Url.Content("../images/" + @item.Anh)" style="width:70px;height:70px;" />
            </td>
                <td>@item.CauLacBo?.TenClb</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CauThuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CauThuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CauThuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
